.item
  background: #6daee7

.item:nth-child(2n)
  background: #367098
//tr:nth-child(2n) {
//  background: #f0f0f0; /* Цвет фона */
//}
//  tr:nth-child(1) {
//    background: #666; /* Цвет фона */
//    color: #fff; /* Цвет текста */
//}
.flexItem
  height: 40px
  padding-left: 20px
  display: flex
  align-items: center
  justify-content: space-between
  font-size: 20px
  color: #061e3c
  font-weight: 500


.flexItem i
  padding-right: 12px
  font-size: 25px
  cursor: pointer
  color: black

.flexItem i:nth-child(2n)
  color: white

.spanStyle
