.cartQuantity
  font-size: 20px
  color: white

.cartPosition i
  color: white
  font-size: 20px

.cartPosition
  cursor: pointer
  display: flex
  justify-content: center
  align-items: center
  width: 80px
  height: 80px
  background: #8c5a94a5
  position: fixed
  right: 20px
  bottom: 10px
