header
  height: 100px
  display: flex
  align-items: center
  justify-content: center
  color: #cbb7ff
  font-size: 50px
  background: url("https://i.pinimg.com/564x/b7/c3/6c/b7c36cc40092885aad0e3f219f936988.jpg")
  text-shadow: 1px 1px 2px black, 0 0 1em red
  border-bottom: 3px solid #5b28c1

.leftMore
  margin-left: 25px